@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --light-blue: #5faaff;
  --blue: #1b74e4;
  --black: #1c2b33;
  --white: #f1f4f7;
  --grey: #e6ecf0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
